<!DOCTYPE html>
<html>
<head>
  <title>Super Web de Productos</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
</head>
<body id="store">
	<div id="banner"> <%= image_tag('/images/rails.png')%>
<%= @page_title || "Ejemplo de libro"%>
</div>
<div id="columns">
	<div id="side">
		<a href="#">Prueba</a>
	</div>
</div>
<div id="main">
<%= yield %>
</div>

</body>
</html>
