<!DOCTYPE html>
<html>
<head>
  <title>Super Web de Productos</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
</head>
<body id="store">
	<div id="banner"> <h1><%= image_tag('/images/rails.png')%>
<%= @page_title || "Ejemplo de libro"%></h1>
</div>
<div id="columns">
	<div id="side">
		<a href="/">Home</a>
	</div>
</div>
<% if @cart %>
	<div id="cart" 
	<% if @cart.line_items.empty? %>
		style="display:none"
	<% end %>
	> 
	<%= render @cart %> </div>
<% end %>
<hr>
<div id="main">
<%= yield %>
</div>

</body>
</html>
